<a href="#" class="hamburger-button">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</a>

<div class="overlay">
    <nav class="menu">
        <ul>
            <li><a href="/#">듀엣해듀오</a></li>
            <li><a href="/srboard">노래방정보</a></li>
            <li><a href="/board">자유게시판</a></li>
            <li><a href="/party-board">파티모집</a></li>
            <li><a href="/estimate-board">노래평가</a></li>
        </ul>
    </nav>
</div>
