<div class="swiper-container slider">
    <div class="swiper-wrapper">
        <div class="swiper-slide bg1">
            <span></span>
            <p></p>
            <div></div>
        </div>
        <div class="swiper-slide bg2">
            <span></span>
            <p></p>
            <div></div>
        </div>
    </div>
</div>