<div class="row">
    <div class="col-md-6">
        {{#memberName}}
            Logged in as : <span id="user">{{memberName}}</span>
            <a href="/logout" class="btn btn-info active" role="button">Logout</a>
        {{/memberName}}
        {{^memberName}}
            <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">구글 Login</a>
            <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">네이버 Login</a>
        {{/memberName}}
    </div>
</div>