{{>layout/header}}

{{>layout/slider}}

<div class="small-container">
    <a href="/srboard"><span>코인 노래방 정보보기</span></a>
    <a href="/srboard"><i class="xi-long-arrow-right xi-2x"></i></a>
</div>


{{>layout/nav}}



{{>layout/footer}}
