{{>layout/header}}
{{>layout/nav}}
{{>layout/userLoginBar}}

<div class="jb-wrap">
    <div class="jb-image"><img src="img/base.png" alt=""></div>
    <div class="jb-text">
        <p>#노래방 정보</p>
    </div>
</div>


<div class="table-container">
    <div>
        <div>

            <table >
                <thead>
                <tr>
                    <th>노래방 이름</th>
                    <th>위 치</th>
                    <th>가격</th>
                </tr>
                </thead>


                <tbody>
                {{#srboard}}
                    <tr>
                        <td><a href="/srboardRead/{{id}}">{{name}}</a></td>
                        <td>{{location}}</td>
                        <td>{{price}}</td>
                    </tr>
                {{/srboard}}
                </tbody>
            </table>
            <div class="table-btn"><a href="/srboardWrite">글쓰기</a></div>
        </div>
    </div>
</div>


{{>layout/footer}}
