{{>layout/header}}
{{>layout/menubar}}
노래방정보게시글읽기
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="form-group" style="display:none">
                <label for="id">id</label>
                <input type="text" class="form-control" id="id" value="{{srboard.id}}" readonly>
            </div>
            <div class="form-group">
                <label for="name">이름</label>
                <input type="text" class="form-control" id="name" value="{{srboard.name}}">
            </div>
            <div class="form-group">
                <label for="location"> 주소 </label>
                <input type="text" class="form-control" id="location" value="{{srboard.location}}">
            </div>
            <div class="form-inline form-group">
                <img src="/img/{{srboard.img1}}.png" alt="My Image1" width="300" height="300">
                <img src="/img/{{srboard.img2}}.png" alt="My Image2" width="300" height="300">
            </div>
            <div class="form-group">
                <label for="price">price</label>
                <input type="text" class="form-control" id="price" value="{{srboard.price}}">
            </div>
            <div class="form-group">
                <label for="star">star</label>
                <input type="text" class="form-control" id="star" value="{{srboard.star}}">
            </div>
            <div class="form-group">
                <label for="facility">facility</label>
                <input type="text" class="form-control" id="facility" value="{{srboard.facility}}">
            </div>

            <button type="button" class="btn btn-primary" id="btn-update-sr"> 저장 </button>
            <a href="/srboardRead/{{srboard.id}}" role="button" class="btn btn-secondary"> 취소 </a>
        </div>
    </div>
</div>



{{>layout/footer}}
