{{>layout/header}}
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-8">
            <form>
                <div class="form-group">
                    <label for="footprint"> 내용</label>
                    <input type="text" class="form-control" id="footprint" placeholder="내용을 입력하세요" nullable="false">
                </div>
            </form>

            <button type="button" class="btn btn-primary form-control" id="btn-save">작성</button>
            <a href="/" role="button" class="btn btn-secondary form-control">취소</a>
        </div>
    </div>
</div>


{{>layout/footer}}



